.chart {
    padding-top: 1%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 5% auto;

}

.chart h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: calc(8px + 2vmin);
    text-align: left;
    padding-top: 5px;
}

.silver {
color: 	#C0C0C0;
}

.gold {
color: rgb(255, 206, 86);
}